@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono);
}

.content {
  flex: 1;
  overflow: auto;
}

.aabdd-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it stays above other content */
  background-color: var(--background);
  border-bottom: 1px solid var(--foreground);
  padding: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aabdd-header span {
  margin-right: auto; /* Ensures the text stays on the left */
}

.header-icons {
  display: flex;
  gap: 16px; /* Add space between icons */
}


.github-link {
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease; /* Optional hover effect */
}

.github-link:hover {
  opacity: 0.8;
}

.aabdd-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it stays above other content */
  background-color: var(--background);
  border-top: 1px solid var(--foreground);
  text-align: center;
  padding: 8px 16px;
}

.aabdd-content {
  flex: 1;
}

.website-intro {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  text-align: center; /* Center text alignment inside the box */
  height: 100%; /* Optional: Ensure the box takes up available height */
  padding: 40px; /* Optional: Add some padding */
}


.pick-crunch-box {
  background-color: var(--background);
  border: 2px dashed var(--foreground);
  padding: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.pick-crunch-tech-stack {
  list-style: none; /* Remove default bullets */
  padding-left: 0; /* Remove default padding */
  margin-left: 16px; /* Indent to align with "N" in "NextJS" */
}

.pick-crunch-tech-stack li {
  margin-bottom: 4px; /* Add spacing between items */
}